html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#controls {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
}

#controls input, #controls button {
  font-size: medium;
}

#content {
  flex-grow: 0;
}

#map {
  flex-grow: 1;
}

#origin {
  flex-grow: 1;
}

#spreadsheet_id {
  flex-grow: 1;
}
